
/* layout */
.container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: var(--layout-padding-y) var(--layout-padding-x);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--layout-nb-columns), 1fr);
  grid-gap: var(--layout-gutter);
}

/* body bg */
body {
  background-color: var(--color-light-base)
}

body.dark {
  background-color: var(--color-dark-base)
}

/* card */
body .card {
  background-color: var(--color-light-darker);
  color: var(--color-dark-lighter);
}

body.dark .card {
  background-color: var(--color-dark-lighter);
  color: var(--color-light-darker);
}

/* titles */
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: var(--color-dark-lighter);
}

body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6 {
  color: var(--color-light-darker);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font-family);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
}

h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-weight);
}

/* text */
body {
  color: var(--color-dark-base);
  font-family: var(--text-font-family), sans-serif;
}

body.dark {
  color: var(--color-light-base);
}

body p {
  font-size: var(--text-font-size);
}

/* button */
body .button {
  color: var(--button-color-text);
}
body .button:hover {
  background-color: transparent;
}

.button {
  background-color: var(--color-accent);
  border-radius: var(--button-border-radius);
  border: 1px solid var(--color-accent);
  padding: var(--button-padding-y) var(--button-padding-x);
}

body .button:hover, body.dark .button:hover {
  color: var(--color-accent);
}

/* input */

body input, body textarea, body select{
  background-color: transparent;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--color-accent);
  outline: none;
  font-size: var(--input-font-size);
  padding: var(--input-padding-y) var(--input-padding-x);
}

body input::placeholder {
  color: var(--color-dark-base);
}

body.dark input::placeholder {
  color: var(--color-light-base);
}

body input:focus, body textarea:focus, body select:focus {
  border-color: var(--color-accent);
}
